body{
    font-family: 'Play', sans-serif;
}

#all-container{
    background-image: url(../assets/images/fondo2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    /* background-position: center; */

    /* background-color: aquamarine */
}
#pokeball{
    border-radius: 50%;
    height: 25vh;
    position: absolute;
    left: 0px;
    width: 10%;

}

.poke-container {
    display: flex;
    flex-wrap: wrap;
}
 .post{
     display: inline-block;
     background-color: rgba(238, 238, 247, 0.5);
     border: 3px dashed rgb(66, 221, 18);
     border-radius: 5px;
     height: 50vh;
     margin: 2%;
     width: 20%;
     
 }