.poke-container {
    display: flex;
    flex-wrap: wrap;
}
 .post{
     display: inline-block;
     background-color: rgb(245, 74, 59);
     border: 1px solid grey;
     border-radius: 5px;
     height: 40vh;
     
 }